---
import type List from "../model/main-list-model"
type Props = {
    list: List[];
};
const {list} = Astro.props;

import  "../styles/list-animation.css"
---
<ul>
    {
        list.map((item) => (
            <li set:html={item.title}></li>
        ))
    }
</ul>

<style>
    li{
        font-size: 1em;
        margin-bottom: 20px;
    }

</style>